{% extends 'Base.html' %}
{% load static %}
<link rel="stylesheet"  type="text/css" media='screen' href="{% static "styles/main.css" %}">
{% block content %}
<h1 style='margin-left:60   0px'>Change Password</h1>
<div id="user" style='margin-left:150px'>
<form action="" method = "POST">
    
    {% csrf_token %}
    
    {% for field in form %}
    <div>
        <p>{{ field.label }}: <br> {{ field }}</p>
    </div>
    {% endfor %}


<button id="btn" type='submit'>Submit</button>

</form>

</div>
{% endblock content %}